*{
    background-color:rgba(25, 25, 75, 1)
}
.navbar{
    display: flex;
    background-color: rgb(220, 210, 197);
    padding: 4px;
    justify-content: space-between;
    box-shadow: 6px 2px 5px black;
}
.hello{
    background-color:rgb(220, 210, 197);
    font-size:large;
    font-weight:bolder
}
button:hover{
    background-color: rgb(168, 139, 194);
    color: brown;
}
.navtext{
    display: inline-flex;
    background-color: rgb(220, 210, 197);
    text-shadow: 20px;
    color: rgb(15, 14, 12);
    gap: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navtext button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
button:hover{
    color: brown;
}
.welcomeandlogout{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.out{
    color: silver;
    text-align: right;
    cursor: pointer;
}
.wel{
    text-align: center;
    color: rgb(247, 164, 222);
    text-shadow: 2px 2px 5px black;
    font-family: cursive;
}
