*{
    background-color:rgb(19, 19, 73)
}
.navbar{
    display: flex;
    background-color: rgb(220, 210, 197);
    padding: 4px;
    justify-content: space-between;
}
.navtext{
    display: inline-flex;
    background-color: rgb(220, 210, 197);
    text-shadow: 20px;
    color: rgb(15, 14, 12);
    gap: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.welcomeandlogout{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.out{
    color: silver;
    text-align: right;
}
.wel{
    text-align: center;
    color: rgb(247, 164, 222);
    text-shadow: 300px;
    text-shadow: 2px 2px 5px black;
    font-family: cursive;
}
